@import url("3-style.css");

/* 4. Font families */

:root {
  --font-family-base: "Helvetica Neue", Helvetica, Arial, sans-serif;
  --font-family-title: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

html {
  font-size: 62.5%;
}

body {
  font-family: var(--font-family-base);
  font-size: 1.6rem;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-family-title);
}